@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-black: #000000;
    --dark-gray: #3E3B3B;
    --light-gray: #E0E0E0;
    --light-blue: #C8E3EC;
    --soft-blue: #ACD4E1;
    --medium-gray: #8EAAB2;
    --light-green: #A8D2A5;
    --secondary-green: #A8D2A5;
    --dark-green: #156B2D;
    --red: #BC0808;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: var(--dark-gray);
}

.wrapper {
    max-width: 816px;
    margin: 0 auto;
}


/* ================================== HEADER ================================== */
.header {
    padding-top: 31px;
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
}

.header__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0.25em;
    text-align: center;
    margin-bottom: 43px;
}

.header__form {
    margin-bottom: 21px
}

.header__form input {
    display: block;
    width: 100%;
    height: 41px;
    padding: 6px 29px;
    background: var(--light-green);
    margin-bottom: 26px;
}

.header__form input:last-of-type {
    margin-bottom: 21px;
}

.header__form input::placeholder {
    color: var(--dark-gray);
}

.header__form .header__titleInput.error::placeholder {
    color: var(--red);
}


.header_button {
    display: block;
    margin: 0 auto;
    width: 290px;
    height: 61px;
    background: linear-gradient(90deg, #A8D2A5 0%, #ACD4E1 115.2%);
    box-shadow: 0px 4px 4px #ACD4E1;
    border-radius: 25px;
    line-height: 29px;
    font-size: 18px;
    color: var(--dark-gray);
    cursor: pointer;
}

/* ================================== BODY ================================== */
.main {
    min-height: 55vh;
}

.main_task {
    margin-bottom: 34px;
}

.main_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 33px 6px 4px;
    border-bottom: 2px solid var(--dark-gray);
    margin-bottom: 5px;
}

.main_info {
    display: flex;
    align-items: center;
    gap: 21px;
}

.main_info .main_check {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.main_buttons {
    display: flex;
    align-items: center;
    gap: 23px;
}

.main_buttons .main_edit {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.main_buttons .main_delete {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.main_description {
    font-size: 14px;
    line-height: 23px;
}

.completed {
    text-decoration-line: line-through;
    color: var(--light-gray);
}

/* ================================== Footer ================================== */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
    min-height: 71px;
    background: var(--soft-blue);
    position: relative;
}

.footer_button {
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.footer_dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 200%;
}

.footer_dropbtn {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.footer_dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.footer_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    border-bottom: 1px solid #ddd;
}

.footer_dropdown-content a:hover {
    background-color: #f1f1f1;
}

.footer_dropdown:hover .footer_dropdown-content {
    display: block;
}

.footer_dropdown:hover .footer_dropbtn {
    background-color: #e7e7e7;
}


/* ================================== MEDIA QUERIES ================================== */
@media screen and (max-width: 880px) {
    body {
        background-image: url(".//assets//bg.png");
        background-repeat: no-repeat;
    }

    .wrapper {
        max-width: 296px;
    }

    .header {
        padding-top: 10px;
        background-image: none;
    }

    .header__title {
        font-size: 35px;
        line-height: 65px;
        margin-bottom: 20px;
    }

    .header__form {
        margin-bottom: 53px
    }


    .header__form input {
        padding: 6px 16px;
    }

    .main {
        min-height: 52vh;
    }

    .main_task {
        margin-bottom: 36px;
    }

    .main_wrapper {
        padding: 0 0px 10px 0px;
        margin-bottom: 5px;
    }

    .main_info {
        gap: 28px;
    }

    .main_info .main_check {
        width: 20px;
        height: 20px;
    }

    .main_buttons .main_edit {
        width: 20px;
        height: 20px;
    }

    .main_buttons .main_delete {
        width: 20px;
        height: 20px;
    }

    .footer {
        gap: 35px;
        min-height: 100px;
    }

    .footer_button {
        width: 24px;
        height: 24px;
    }
}